<div class="login-container">
  <form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="logo">
      <img src="../../assets/File4.png" alt="Logo">
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" placeholder="Enter your phone number" pattern="[0-9]*" name="phoneNumber" ngModel required>
      <mat-error *ngIf="loginForm.controls['phoneNumber'].invalid && (loginForm.controls['phoneNumber'].dirty || loginForm.controls['phoneNumber'].touched)">
        <span>Enter the number only</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput type="{{hide ? 'password' : 'text'}}" name="password" ngModel required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Continue</button>
  </form>
</div>
